In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/JCasado/Desktop/IRONHACK/ironhack_service_account_big_query.json"

In [2]:
from google.cloud import bigquery

In [3]:
client = bigquery.Client()
#nos deja hacer la conexion

In [ ]:
#sql='''
#CREATE TABLE car_dealership.authors_2(
#au_id STRING NOT NULL,
#au_lname STRING NOT NULL,
#au_fname STRING NOT NULL,
#phone STRING NOT NULL,
#address STRING,
#city STRING,
#state STRING,
#zip STRING,
#contract NUMERIC)
#'''
#los que pone string solo o numeric solo puede ser NULL

In [7]:
sql='''
SELECT column_name, data_type
FROM `ironhack-data-analytics-265219.car_dealership.INFORMATION_SCHEMA.COLUMNS`
WHERE table_name = 'authors_2'
'''

In [8]:
query_job = client.query(query=sql)

In [9]:
query_job.to_dataframe()

  column_name data_type
0       au_id    STRING
1    au_lname    STRING
2    au_fname    STRING
3       phone    STRING
4     address    STRING
5        city    STRING
6       state    STRING
7         zip    STRING
8    contract   NUMERIC