# SQL Connection

For its use in python you can create a connection to bigquery and apply the queries to the loaded environment:

In [ ]:
import os
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="ironhack_service_account_big_query.json"
client = bigquery.Client()

In [ ]:
query = '''
SELECT *
FROM publications.titles
'''

In [ ]:
query_job = client.query(query)
df = query_job.to_dataframe()

# Questions (SQL Easy - Intermediate)

## Find the average price by type using the titles table where pub date is after 1991

In [ ]:
SELECT type, AVG(price) AS avg
FROM publications.titles 
WHERE EXTRACT(year FROM pubdate) > 1991
GROUP BY type

## Find how many years each employee has been working in the company

In [ ]:
SELECT fname, DATE_DIFF(CURRENT_DATE(), HIRE_DATE, year) AS years
FROM publications.employee

## Find the types of books which on average cost more than 15 monetary units

In [ ]:
SELECT type, AVG(price)
FROM publications.titles
GROUP BY type
HAVING AVG(price) > 15

## Find which employee started working there first

In [ ]:
SELECT fname, DATE_DIFF(CURRENT_DATE(), HIRE_DATE, year) AS years
FROM publications.employee
ORDER BY 2 DESC
LIMIT 1

## Count how many transactions within 1994 if payterms is net 30

In [ ]:
SELECT COUNT(*)
FROM publications.sales
WHERE payterms LIKE 'Net 30' AND
  EXTRACT(year FROM ord_date) = 1994

## In which city live the most authors?

In [ ]:
SELECT city, COUNT(*) AS authors
FROM publications.authors
GROUP BY city
ORDER BY 2 DESC
LIMIT 1

# Joins

## Why?

### The structure of the relational databases force us to do this kind of operations

<img src="images/scheme.png">

### Types of joins we can do

<img src="images/joins.jpg">

## Let's join them and get a count of the number of titles each publisher has published.

In [ ]:
SELECT pub_name, COUNT(titles.title_id) AS titles
FROM `ironhack-data-analytics-265219.publications.publishers` AS pubs
INNER JOIN `ironhack-data-analytics-265219.publications.titles` AS titles
ON pubs.pub_id = titles.pub_id
GROUP BY pubs.pub_name

## How many units sold for each title?

In [ ]:
SELECT titles.title, titles.type, titles.price, SUM(sales.qty) AS units_sold
FROM `ironhack-data-analytics-265219.publications.sales` sales
RIGHT JOIN `ironhack-data-analytics-265219.publications.titles` titles
ON sales.title_id = titles.title_id
GROUP BY 1,2,3